[submodule "extern/TinyAD"]
	path = extern/TinyAD
	url = git@github.com:patr-schm/TinyAD.git
	branch = main
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = git@github.com:pybind/pybind11.git
	branch = master
